<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="lesvelos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/" binding="basicHttpBinding"
                bindingConfiguration="lesvelos" contract="ServiceReference1.IVelibOperation"
                name="lesvelos" />
        </client>
    </system.serviceModel>
</configuration>